/**************** animations *********************/ 
@keyframes message_show_hide {
    0% {
        opacity: 0; 
        visibility: hidden;
    }
    50% {
        opacity: 1; 
        visibility: visible;
    }
    100% {
        opacity: 0; 
        visibility: hidden;
    }
}